<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Flook</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WriteRecipeServlet</display-name>
    <servlet-name>WriteRecipeServlet</servlet-name>
    <servlet-class>Servlet.WriteRecipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteRecipeServlet</servlet-name>
    <url-pattern>/writeRecipe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoRecipeServlet</display-name>
    <servlet-name>VideoRecipeServlet</servlet-name>
    <servlet-class>Servlet.VideoRecipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoRecipeServlet</servlet-name>
    <url-pattern>/VideoRecipe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinServlet</display-name>
    <servlet-name>JoinServlet</servlet-name>
    <servlet-class>Servlet.JoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinServlet</servlet-name>
    <url-pattern>/join</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchingServlet</display-name>
    <servlet-name>SearchingServlet</servlet-name>
    <servlet-class>Servlet.SearchingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchingServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInServlet</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>Servlet.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/facebook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>Servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profileAnalyzing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlookRecipe</display-name>
    <servlet-name>FlookRecipe</servlet-name>
    <servlet-class>Servlet.FlookRecipe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlookRecipe</servlet-name>
    <url-pattern>/recipeFlook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>Servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRecipeServlet</display-name>
    <servlet-name>UserRecipeServlet</servlet-name>
    <servlet-class>Servlet.UserRecipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRecipeServlet</servlet-name>
    <url-pattern>/UserRecipeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MailServlet</display-name>
    <servlet-name>MailServlet</servlet-name>
    <servlet-class>test.MailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailServlet</servlet-name>
    <url-pattern>/MailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendCode</display-name>
    <servlet-name>SendCode</servlet-name>
    <servlet-class>Servlet.SendCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendCode</servlet-name>
    <url-pattern>/sendCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindPasswordChange</display-name>
    <servlet-name>FindPasswordChange</servlet-name>
    <servlet-class>Servlet.FindPasswordChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPasswordChange</servlet-name>
    <url-pattern>/findPasswordChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsFeedServlet</display-name>
    <servlet-name>NewsFeedServlet</servlet-name>
    <servlet-class>Servlet.NewsFeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsFeedServlet</servlet-name>
    <url-pattern>/newsFeed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyRecipeServlet</display-name>
    <servlet-name>MyRecipeServlet</servlet-name>
    <servlet-class>Servlet.MyRecipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyRecipeServlet</servlet-name>
    <url-pattern>/myRecipe</url-pattern>
  </servlet-mapping>
</web-app>